* {
  box-sizing: border-box;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 2px solid #333;
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
}

.input-container {
  max-width: 295px;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
}

.box {
  height: 45px;
  width: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid #ccc;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: darkgreen;
  color: white;
}

.close {
  color: "white";
  background-color: goldenrod;
}

.result-message {
  color: black;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 32px;
}

.wrong {
  background-color: #888;
  color: white;
}

.invalid {
  animation: flash 1s;
}

.spiral {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
